extends layout

block main-content
    .home-hero
        h1.home-title Search for anime
        p.home-subtitle Search, explore, and build your personal watchlist containing your favourite animes.
        form.home-search(action="/search", method="get") 
            input(type="text", name="searchAnime", placeholder="Search for an anime")
            button(type="submit") Search