block variables
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        title #{title}
        link(rel="stylesheet", href="/style.css")
    body
        header#header
            nav.navbar
                h1#site-name
                    a.logo(href="/") Anime Watchlist
                ul.nav-links
                    li: a(href="/") Home
                    li: a(href="/watchlist") Watchlist
        main#main
            block main-content
        footer#footer
            div &copy; Samson Maveli Mathews, 2025.